body {
    background-color: gray;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 10px solid rgba(0,0,0,.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

button:hover {
  border: 1px solid rgba(0,0,0,0.5);
	cursor: pointer;
}

/* .container {
  /* flex box */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


} */ */