body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  background-color: #CAF0F8;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(3, 33%);
  grid-gap: 0vmin;
  height: 500px;
  width: 500px;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}


button {
  padding: 10px;
  margin: 10px;
  left: 10px;
  font-size: 20px;
  background-color: transparent;
  border: 10px solid rgba(0, 0, 0, .1);
  width: 100px;
  height: 100px;
  border-radius: 33%;
  float: right;
}

button:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #ADE8F4;
}


h1 {
  font-size: 60px;
  color: #03045E;
}

h2 {
  font-size: 30px;
  color: #023E8A;
}

h1, h2 {
  font-family: 'Cabin', sans-serif;
}

